In [158]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [159]:
p = os.path.abspath('C:/4-1/names/yob2004.txt')
#pa = os.path.abspath('C:/4-1/names/yob2005.txt')

In [160]:
x = pd.read_csv(p, 
            names=['Name', 'Gender', 'Count'])
#xa = pd.read_csv(pa, 
#            names=['Name', 'Gender', 'Count'])

In [161]:
x.sort_values(by='Count')
#xa.sort_values(by='Count')

              Name Gender  Count
32044        Zyron      M      5
17903      Mirayah      F      5
17904        Mirca      F      5
17905       Mirely      F      5
17906      Mireyna      F      5
17907     Mirianna      F      5
17908      Mirissa      F      5
17909        Mirra      F      5
17910     Mirranda      F      5
17911        Mirta      F      5
17912       Mishka      F      5
17913      Mitchel      F      5
17914          Miu      F      5
17915       Mixtly      F      5
17916       Miyabi      F      5
17917       Miyako      F      5
17918       Miyani      F      5
17919       Miyona      F      5
17902      Minahil      F      5
17920         Miyu      F      5
17901      Milissa      F      5
17899      Milayna      F      5
17882         Meng      F      5
17883       Meraly      F      5
17884       Meriem      F      5
17885        Merle      F      5
17886       Merrie      F      5
17887      Meryssa      F      5
17888      Messina      F      5
17889       Mialee      F      5
...            ...    ...    ...
18846      Brandon      M  14126
18845     Jonathan      M  14360
7           Ashley      F  14371
18844       Nathan      M  14626
18843        Dylan      M  14846
6         Isabella      F  15014
5          Abigail      F  15423
4           Hannah      F  15602
3           Olivia      F  16104
18842         John      M  16445
18841        James      M  16459
18840        Tyler      M  17441
18839    Alexander      M  17917
18838        David      M  18380
18837     Nicholas      M  18512
18836         Ryan      M  19488
18835      Anthony      M  19602
18834  Christopher      M  19624
18833       Joseph      M  20120
18832      William      M  20223
2          Madison      F  20619
18831       Daniel      M  20973
1             Emma      F  21604
18830       Andrew      M  21698
18829        Ethan      M  22204
18828      Matthew      M  22872
18827       Joshua      M  24197
0            Emily      F  25032
18826      Michael      M  25448
18825        Jacob      M  27876

[32045 rows x 3 columns]

In [162]:
x[x.Count == max(x.Count)]

        Name Gender  Count
18825  Jacob      M  27876

In [163]:
def count_top_3_for_some_years(years=[]):
    def count_top_3(year):
            p = os.path.abspath('C:/4-1/names/yob' + str(year) + '.txt')
            x = pd.read_csv(p, 
                    names=['Name', 'Gender', 'Count'])
            top = x.sort_values(by='Count')
            top_3 = top[-3::]
            return top_3
    count_top_all = []
    for year in years:
        count_top_all.append(count_top_3(year))
    result = pd.concat(count_top_all)
    result = result.sort_values(by='Count')
    return (result[-3::]).Name

In [164]:
count_top_3_for_some_years([2004, 2005, 1999])

16942    Matthew
16941    Michael
16940      Jacob
Name: Name, dtype: object