In [94]:
import numpy as np
import pandas as pd

In [95]:
DATA_DIR = "C:/4-1/names"

In [96]:
def count_top_3_for_some_years(years=[]):
    def sort_top(year):
            x = pd.read_csv('{}/yob{}.txt'.format(DATA_DIR, year), 
                    names=['Name', 'Gender', 'Count'])
            top = x.sort_values(by='Count', ascending=False)
            return top
    count_top_all = []
    for year in years:
        count_top_all.append(sort_top(year))
    result = pd.concat(count_top_all)
    name = result.groupby('Name')
    result = name.sum()
    result = result.sort_values(by='Count',ascending=False)
    return (result[:3])

In [97]:
count_top_3_for_some_years([1900, 1950, 2000])

         Count
Name
James   111795
John    109595
Robert  101381

In [98]:
count_top_3_for_some_years([1880])

         Count
Name
John      9701
William   9562
Mary      7092

In [99]:
def count_dynamics(years=[]):
    def gender_count(year):
        x = pd.read_csv('{}/yob{}.txt'.format(DATA_DIR, year), 
                        names=['Name', 'Gender', 'Count'])
        gender = x.groupby('Gender')
        x = gender.sum()
        return x
    
    for year in years:
        print('количества имен за ' + str(year) + ' год в разрезе полов')
        print(gender_count(year))

In [100]:
count_dynamics([1900, 1950, 2000])

количества имен за 1900 год в разрезе полов
         Count
Gender
F       299810
M       150486
количества имен за 1950 год в разрезе полов
          Count
Gender
F       1713259
M       1790871
количества имен за 2000 год в разрезе полов
          Count
Gender
F       1814922
M       1962744