In [124]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [125]:
p = os.path.abspath('C:/4-1/names/yob2010.txt')

In [126]:
x = pd.read_csv(p, 
            names=['Name', 'Gender', 'Count'])

In [127]:
x.sort_values(by='Count')

              Name Gender  Count
17031       Adrena      F      5
18586     Lanaisha      F      5
18587      Lanayja      F      5
18588     Lanaysha      F      5
18589       Lanell      F      5
18590      Lanelle      F      5
18591        Lanny      F      5
18592        Lanvy      F      5
18593      Larayna      F      5
18594       Larena      F      5
18595      Lareyna      F      5
18596        Larra      F      5
18597        Lasha      F      5
18598     Lashanda      F      5
18599     Lashanti      F      5
18600      Lashiya      F      5
18585       Lamora      F      5
18601      Latasia      F      5
18584     Lamonica      F      5
18582     Lamarria      F      5
18567       Laikin      F      5
18568      Laikynn      F      5
18569       Lailey      F      5
18570     Lailiana      F      5
18571       Lailie      F      5
18572      Laiyana      F      5
18573      Laiylah      F      5
18574       Lakaya      F      5
18575      Lakeira      F      5
18576     Lakeland      F      5
...            ...    ...    ...
19831     Benjamin      M  12427
19830      Gabriel      M  12865
7          Madison      F  13175
19829       Joseph      M  13816
19828        James      M  13870
19827       Elijah      M  13879
19826        Logan      M  14015
19825      Matthew      M  14119
19824        David      M  14181
6          Abigail      F  14234
19823       Andrew      M  14234
19822  Christopher      M  14263
5            Emily      F  14266
19821        Mason      M  14837
4              Ava      F  15424
19820       Joshua      M  15432
19819      Anthony      M  15482
19818        Aiden      M  15531
19817       Daniel      M  15827
19816         Noah      M  16442
19815    Alexander      M  16749
3           Olivia      F  17019
19814      William      M  17042
19813       Jayden      M  17163
2             Emma      F  17333
19812      Michael      M  17336
19811        Ethan      M  17995
1           Sophia      F  20634
19810        Jacob      M  22110
0         Isabella      F  22898

[34063 rows x 3 columns]

In [128]:
x[x.Count == max(x.Count)]

       Name Gender  Count
0  Isabella      F  22898

In [129]:
def count_top_3(year):
    p = os.path.abspath('C:/4-1/names/yob' + str(year) + '.txt')
    x = pd.read_csv(p, 
            names=['Name', 'Gender', 'Count'])
    top = x.sort_values(by='Count')
    return x[:3].Name

In [131]:
count_top_3(2005)

0      Emily
1       Emma
2    Madison
Name: Name, dtype: object