In [10]:

import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
p = os.path.abspath('C:/4-1/names/yob2010.txt')

In [25]:
x = pd.read_csv(p, 
            names=['Name', 'Gender', 'Count'])

In [29]:
x.sort_values(by='Count')
x[:3]

       Name Gender  Count
0  Isabella      F  22898
1    Sophia      F  20634
2      Emma      F  17333